.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

@media all and (max-width:610px) {
    .container {
        flex-direction: column;
    }
}